<html lang="en">
<head>
  <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Laura Romero</h1>
      <p>CS and Cognitive Psych | NEU 2019</p>
    </div>
    <div class="content">
      <p>
        Words about me :~)
      </p>
      <p>
        Some <strong>more</strong> words about me :~)</p>
      <p>
        <br>
        Even More Words :O
      </p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>