<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Projects</h1>
      <p>things you do in school count too</p>
    </div>

    <div class="container">
      <div class="general-container projects-container">
        <img src="#"/>
        <div>
          <h3>Title</h3>
          <p>
            Description
          </p>
          <p class=smaller>
            Created with x, y, z.
          </p>
          <a href="#" target="_blank"><span class="fa fa-github project-left-link"> Github</span></a>
          <a href="#" target="_blank"><span class="fa fa-link"> Site</span></a>
      </div>
    </div>

    <div class="container">
      <div class="general-container projects-container">
        <img src="#"/>
        <div>
          <h3>Title</h3>
          <p>
            Description
          </p>
          <p class=smaller>
            Created with x, y, z.
          </p>
          <a href="#" target="_blank"><span class="fa fa-github project-left-link"> Github</span></a>
          <a href="#" target="_blank"><span class="fa fa-link"> Site</span></a>
      </div>
    </div>

    <div class="container">
      <div class="general-container projects-container">
        <img src="#"/>
        <div>
          <h3>Title</h3>
          <p>
            Description
          </p>
          <p class=smaller>
            Created with x, y, z.
          </p>
          <a href="#" target="_blank"><span class="fa fa-github project-left-link"> Github</span></a>
          <a href="#" target="_blank"><span class="fa fa-link"> Site</span></a>
      </div>
    </div>

    <div class="container">
      <div class="general-container projects-container">
        <img src="#"/>
        <div>
          <h3>Title</h3>
          <p>
            Description
          </p>
          <p class=smaller>
            Created with x, y, z.
          </p>
          <a href="#" target="_blank"><span class="fa fa-github project-left-link"> Github</span></a>
          <a href="#" target="_blank"><span class="fa fa-link"> Site</span></a>
      </div>
    </div>
    
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>